
<nav class="navbar navbar-white navbar-default navbar-fixed-top" id="fixedbar" role="navigation">
	<div class="container">
		<div class="menu clearfix">
			<a href="">Work</a>
			<a href="" class="selected">Recognition</a>
			<a href="">Contact</a>
		</div>
	</div>
</nav>


<div class="container">

	<nav class="navbar navbar-default navbar-transparent" role="navigation">
		<div class="row">
			<div class="col-xs-6">
				<h2 class="name">Janus Møller</h2>
			</div>
			<div class="col-xs-6">
				<div class="menu clearfix">
					<a href="" class="selected">Work</a>
					<a href="">Recognition</a>
					<a href="">Contact</a>
				</div>
			</div>
		</div>
	</nav>

	<h1 class="header">
		I am a Digital Designer, UX architect & Entrepreneur. I love to conceptualize, design and build digital campaigns and products
	</h1>

	<div class="row about">
		<div class="col-md-3">
			<div class="splash">
				<div>
					<div>
						<div>
							Now available for freelance work.
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="col-md-6 col-md-offset-3">
		Ever since my childhood, I have been tearing things apart to see how they worked, to think up improvements or build something completely new. Today, I'm still interested in how things work, but I care more about how people use things. Actually, I always try to hide the technology. Because at the end of the day, great design is not defined by technology, but by the people who use it.
		</p>
	</div>

	<h4 class="lines">
		Work
	</h4>

	<div class="row work">
		<div class="col-md-4">
			<a href="" class="crop">
				<h4>Boliga</h4>
				<img src="/images/thumb-boliga.jpg" class="img-responsive" alt="Responsive image">
			</a>
		</div>
		<div class="col-md-4">
			<a href="" class="crop">
				<h4>Influestor</h4>
				<img src="/images/thumb-influestor.jpg" class="img-responsive" alt="Responsive image">
			</div>
		</a>
		<div class="col-md-4">
			<a href="" class="crop">
				<h4>Hit the Bitch!</h4>
				<img src="/images/thumb-htb.jpg" class="img-responsive" alt="Responsive image">
			</a>
		</div>
	</div>

	<h4 class="lines">
		Recognition
	</h4>

	<div class="row recognition">
		<div class="col-md-6">
			<ul class="list-unstyled">
				<li class="year">2012</li>
				<li>· Børsen Gazelle, Se mor!</li>
				<li>· Danish Internet Award, Financial Services, Cockpit</li>
				<li class="year">2011</li>
				<li>· FWA, Site of the day, Fredrik Clement</li>
				<li>· Design Taxi, Site of the day, Fredrik Clement</li>
				<li>· Designlicks, Site of the day, Fredrik Clement</li>
				<li>· Irie, Site of the day, Fredrik Clement V2</li>
				<li class="year">2010</li>
				<li>· Danish Internet Award, Campiign site, Hit The Bitch</li>
				<li>· Direct Marketing Prisen, Bronze for Hit The Bitch</li>
				<li>· Creative Circle Award, Bronze for Hit The Bitch</li>
				<li>· The Huffington Post, Hit The Bitch</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="list-unstyled">
				<li class="year">2009</li>
				<li>· Design Charts, Hit The Bitch, 13 weeks on the list, 2 as number 1</li>
				<li>· Spyline, Hit The Bitch</li>
				<li>· Communication Arts, Pick of the day, Fredrik Clement</li>
				<li>· Design Charts – Number 2 on the list – Fredrik Clement</li>
				<li>· Design Licks, Site of the Day, Fredrik Clement</li>
				<li>· Spyline,  Fredrik Clement</li>
				<li class="year">2008</li>
				<li>· Dope Awards, Recognition,  Andreas Møller</li>
			</ul>
		</div>
	</div>

	<h4 class="lines">
		Contact
	</h4>

	<div class="row contact">
		<div class="col-md-4">
			<div class="splash">
				<div>
					<div>
						<div>
							+45 8120 2860
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="splash splash-red ">
				<div>
					<div>
						<div>
							hello@janusmoller.com
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="splash">
				<div>
					<div>
						<div>
							+45 8120 2860
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<img src="/images/mill.svg" class="mill">


